.lanka h5 {
    font-size: 15px;
    font-weight: 700;
   
}

.lanka span {
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.lanka h4{
    font-size: 15px;
    font-weight: 700;
    color: red;
}

.lanka h6 {
    font-size: 15px;
    margin-top: 13px;
}

.player_img {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}

.trending_news {
    display: flex !important;
}

.lanka {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(96, 174, 246, 0.4);
    padding: 10px;
    width: 27%;
    margin: 0 7px;
}

.ipsum {
    // background: url(../src/assets//image/player.png);
    background-size: cover;
    height: 442px;
    padding: 20px;
    position: relative;

    /* height: 109%;
    width: 107%; */
}

.ipsum h1 {
    font-size: 15px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 15%;
}

.ipsum p {
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin: 0 31% 0 0;
    position: absolute;
    bottom: 6%;
}

.trending {
    margin: 20px 0;
}

.dolor h1 {
    font-size: 25px;
    font-weight: bold;
}

.dolor p {
    font-size: 12px;
    color: aliceblue;
}

.adipisicing {
    background-color: rgb(18, 17, 17);
    border-radius: 10px;
    padding: 10px;

}

.adipisicing p {
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}

.adipisicing span {
    display: flex;
    justify-content: end;
}

.adipisicing span a {
    color: #60AEF6;
    text-decoration: underline;
    font-weight: 400;
    font-size: 20px;
}

.adipisicing span i {
    color: #60AEF6;
}

.cricket {
    margin-top: 12%;
    width: 100%;
}

.match h5 {
    font-weight: 700;
    margin: 20px 0;
}

.number {
    float: right;
}

.footer_sec {
    background-color: #ffffff;
}

.footer_sec ul {
    display: inline-block;
    list-style: none;
}

.srilanka {
    margin: 7px 0;
}

.player {
    margin-bottom: 30px;
    width: 51% !important;
}

.previews {
    /* margin-top: -7%;
    width: 60% !important;
    margin-left: 69px; */

    margin-top: 12%;
    width: 48% !important;
    margin-left: 100px;
}

.eiusmod {
    border: 1px solid #FFFFFF;
    margin: 20px 0;
}

.india_img {
    width: 34% !important;
    height: 6%;
    margin-right: 2%;
}

.adipisicing span {
    font-size: 10px;
    color: #FFFFFF;
}

.previews_img {
    margin-top: 7%;
    width: 55% !important;
    margin-left: 69px;

}

.south_img {
    display: flex;
    justify-content: center;
    margin: 3% 0px;
}

.flagimg {
    width: 8% !important;
}

.srilanka span {
    font-size: 12px;
    color: black;
    font-weight: 600;
    padding-left: 7px;
}

.dolor span {
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.amet {
    width: 30px;
    margin-bottom: 10px;
}

.facebook_img {
    width: 19% !important;
    margin: 2px;
    margin-top: 15px;
}

.whoare h5 {
    color: #60AEF6;
    font-weight: 700;
    font-size: 16px;
    margin-top: 15px;
}
.whoare p {
    color: #FFFFFF;
    font-size: 16px;
}
.whoare{
    background-color: rgb(18, 16, 16);
    width: 117%;
    margin: 0px -7%;
    margin-top: 48px;
}